version: '3.1'

services:
  front-end:
    build:
      context: './front-end'
    container_name: front-end
    ports:
      - 3000:80
    volumes:
      - mongodb_data:/data/db
  back-end:
    build:
      context: './back-end'
    container_name: back-end
  mongo:
    image: mongo
    container_name: my_mongo_db
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: